@use '@/styles/colors';

.button {
  padding: 1rem 1.5rem;

  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;

  border: 0;
  border-radius: 0.5rem;

  cursor: pointer;

  &--primary {
    color: colors.$cyan;
    background-color: colors.$dark-blue;
  }

  &--secondary {
    color: colors.$darker-blue;
    background-color: colors.$lighter-blue;
  }
}
