<template>
  <button :type="type" class="button" :class="variantClass">
    <slot />
  </button>
</template>

<script lang="ts">
import { computed } from 'vue';
import { RouterLink } from 'vue-router';

const VARIANTS = {
  PRIMARY: 'primary',
  SECONDARY: 'secondary',
};

interface ButtonProps {
  type: string;
  variant: string;
}

export default {
  component: { RouterLink },
  props: {
    type: {
      type: String,
      default: 'button',
    },
    variant: {
      type: String,
      required: true,
      validator: (v: string) => Object.values(VARIANTS).includes(v),
    },
  },
  setup(props: ButtonProps) {
    const variantClass = computed(() => {
      switch (props.variant) {
        case VARIANTS.PRIMARY:
        default:
          return 'button--primary';
        case VARIANTS.SECONDARY:
          return 'button--secondary';
      }
    });

    return { variantClass };
  },
};
</script>

<style scoped lang="scss">
@use './styles';
</style>
