@use '@/styles/colors';

.fab {
  display: flex;
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  padding: 1rem;

  color: colors.$white;

  background-color: colors.$red;

  border: 0;
  border-radius: 1rem;

  cursor: pointer;
}
