<template>
  <pop-up-transition appear>
    <button type="button" class="fab">
      <slot />
    </button>
  </pop-up-transition>
</template>

<script lang="ts">
import { PopUpTransition } from '@/components/Transitions';

export default {
  components: { PopUpTransition },
};
</script>

<style scoped lang="scss">
@use './styles';
</style>
