<template>
  <div class="root">
    <!-- <t-header>
      <template #button>
        <router-link to="/" custom v-slot="{ navigate }">
          <button type="button" class="back" @click="navigate">
            {{ '<-' }}
          </button>
        </router-link>
      </template>
      {{ route.name }}
    </t-header> -->

    <main>
      <router-link
        v-if="showFAB"
        to="/app/new-plan"
        custom
        v-slot="{ navigate }"
      >
        <t-fab @click="navigate">
          <vue-feather type="plus" />
        </t-fab>
      </router-link>

      <router-view v-slot="{ Component, route }">
        <slide-transition>
          <component :is="Component" :key="route.path" />
        </slide-transition>
      </router-view>
    </main>

    <t-footer :items="items"></t-footer>
  </div>
</template>

<script lang="ts">
import { computed } from 'vue';
import { RouterView, RouterLink, useRoute } from 'vue-router';

import VueFeather from 'vue-feather';
import TFooter from '@/components/Footer';
import TFab from '@/components/FAB';
import { SlideTransition } from '@/components/Transitions';

const NO_FAB_ROUTES = [
  'New travel plan',
  'Edit travel plan',
  'Travel plan',
  'Profile',
];

export default {
  components: {
    RouterLink,
    RouterView,
    SlideTransition,
    TFab,
    TFooter,
    VueFeather,
  },
  setup() {
    const route = useRoute();

    const showFAB = computed(() => {
      return !NO_FAB_ROUTES.includes(route.name as string);
    });

    const items = [
      {
        label: 'Home',
        icon: 'home',
        path: '/app/home',
      },
      {
        label: 'My plans',
        icon: 'flag',
        path: '/app/my-plans',
      },
      {
        label: 'Profile',
        icon: 'user',
        path: '/app/profile',
      },
    ];

    return { route, items, showFAB };
  },
};
</script>

<style scoped></style>
