<template>
  <div class="home">
    <h1>{{ route.name }}</h1>
    <p>This page is still being built!</p>
    <p>
      Click the Plus button below to start planning or visit the other pages.
    </p>
  </div>
</template>

<script lang="ts">
import { useRoute } from 'vue-router';

export default {
  components: {},
  setup() {
    const route = useRoute();

    return { route };
  },
};
</script>

<style lang="scss" scoped>
.home {
  padding: 1rem;
}
</style>
