<template>
  <div class="plans">
    <h4 class="plans__title label">Upcoming</h4>
    <div class="plans__placeholder">No plans yet!</div>

    <h4 class="plans__title label">Past</h4>
    <div class="plans__placeholder">No plans yet!</div>
  </div>
</template>

<script lang="ts">
import { useRoute } from 'vue-router';

export default {
  components: {},
  setup() {
    const route = useRoute();

    return { route };
  },
};
</script>

<style lang="scss" scoped>
@use '@/styles/typography';

.plans {
  padding: 1rem;

  &__title {
    margin: 0 0 0.5rem;
  }

  &__placeholder {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 8rem;

    @include typography.text;
  }
}
</style>
