<template>
  <div class="settings">
    <form id="photo">
      <div class="profile">
        <input
          ref="fileInput"
          type="file"
          class="hidden"
          name="photo"
          id="Photo"
          accept="image/*"
          @change="onFileChange"
        />
        <img
          class="photo-preview"
          :src="imageSrc"
          alt="Photo"
          tabindex="0"
          @click="onPhotoClick"
        />

        <h2 class="profile__name">John Doe</h2>
      </div>
    </form>
    <form id="preferences">
      <h4 class="label">Preferences</h4>
      <div class="settings__item settings__item--with-segmented">
        Units <segmented-button v-model="unitsValue" :items="UNITS" />
      </div>
      <div class="settings__item">Default Stay type</div>
      <div class="settings__item">Default Connection type</div>
    </form>
    <form id="account">
      <h4 class="label">Account</h4>
      <router-link to="">
        <div class="settings__item">Change email address</div>
      </router-link>
      <router-link to="">
        <div class="settings__item">Change password</div>
      </router-link>
      <router-link to="">
        <div class="settings__item settings__item--danger">Delete account</div>
      </router-link>
    </form>
  </div>
</template>

<script lang="ts">
import { ref } from 'vue';
import { useRoute } from 'vue-router';

import SegmentedButton from '@/components/SegmentedButton';

const UNITS = [
  {
    value: 'kms',
    label: 'KM',
  },
  {
    value: 'miles',
    label: 'Miles',
  },
];

export default {
  components: { SegmentedButton },
  setup() {
    const route = useRoute();

    const fileInput = ref<HTMLInputElement>();
    const imageSrc = ref<string>('');

    const unitsValue = ref<string>('kms');

    function onFileChange(ev: Event) {
      console.log('file change', ev);

      const [file] = Array.from(fileInput.value?.files as FileList);
      if (file) {
        imageSrc.value = URL.createObjectURL(file);
      }
    }

    function onPhotoClick() {
      fileInput.value?.click();
    }

    return { route, UNITS, unitsValue, onFileChange, onPhotoClick };
  },
};
</script>

<style lang="scss" scoped>
@use '@/styles/colors';
@use '@/styles/typography';

main {
  padding: 1rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem 0;

  &__name {
    margin: 1rem 0 0;
  }
}

.settings {
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.5rem;
    margin-bottom: 0.5rem;

    @include typography.text;

    &--danger {
      color: colors.$red;
    }

    &--with-segmented {
      padding: 1px 0.5rem;
    }
  }

  form#preferences,
  form#account {
    padding: 0 0.5rem 1rem;

    h4 {
      margin: 0 0 0.5rem 0.5rem;
    }
  }
}
</style>
