<template>
  <form>
    <form-input
      v-model="locationValue"
      type="text"
      label="Location"
      name="location"
      placeholder="Search in the map and press a location"
    />

    <div v-show="locationValue.length !== 0" class="button-wrapper">
      <t-button type="button" variant="primary">Confirm</t-button>
    </div>
  </form>
</template>

<script lang="ts">
import { capitalize, ref, watchEffect } from 'vue';
import type { PropType, SetupContext } from 'vue';

import FormInput from '@/components/FormInput';
import TButton from '@/components/Button/TButton.vue';

type PointType = 'start' | 'end';

interface Props {
  type: PointType;
}

export default {
  components: { FormInput, TButton },
  props: {
    type: {
      type: String as PropType<PointType>,
      required: true,
    },
  },
  setup(props: Props, ctx: SetupContext<Record<string, any>>) {
    const locationValue = ref<string>('');
    const location = ref();

    const chooseTitle =
      props.type === 'start' ? 'Choose a start point' : 'Choose an end point';

    watchEffect(() => {
      ctx.emit(
        'change-title',
        location.value ? `${capitalize(props.type)} point` : chooseTitle
      );
    });

    return { locationValue };
  },
};
</script>

<style lang="scss" scoped>
.button-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.5rem;
}
</style>
