<template>
  <form>
    <form-input
      v-model="locationValue"
      type="text"
      label="Location"
      name="location"
      placeholder="Search in the map and press a location"
    />

    <form-input
      v-model="typeValue"
      type="select"
      label="Type"
      name="type"
      placeholder="Select a stay type"
      :options="typeOptions"
    />

    <div v-show="locationValue.length !== 0" class="button-wrapper">
      <t-button type="button" variant="primary">Confirm</t-button>
    </div>
  </form>
</template>

<script lang="ts">
import { ref, watchEffect } from 'vue';
import type { PropType, SetupContext } from 'vue';

import FormInput from '@/components/FormInput';
import TButton from '@/components/Button/TButton.vue';

const typeOptions = [
  {
    value: 'hotel',
    label: 'Hotel',
  },
  {
    value: 'bnb',
    label: 'Bed & Breakfast',
  },
];

export default {
  components: { FormInput, TButton },
  props: {},
  setup(_props: any, ctx: SetupContext<Record<string, any>>) {
    const locationValue = ref<string>('');
    const typeValue = ref<string>('');

    const location = ref();

    const chooseTitle = 'Choose a stay location';

    watchEffect(() => {
      ctx.emit('change-title', location.value ? `Stay` : chooseTitle);
    });

    return { locationValue, typeValue, typeOptions };
  },
};
</script>

<style lang="scss" scoped>
.button-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.5rem;
}
</style>
