@use '@/styles/colors';

@mixin label {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1rem;
  color: colors.$light-blue;
}

@mixin text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
}

h1 {
  font-size: 2rem;
}

p {
  @include text;
}
