@use './colors';
@use './typography';
@use './spacing';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
  color: colors.$darker-blue;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  height: 100%;
}

main {
  position: relative;
  flex: 1;
  overflow-x: hidden;
}

a {
  color: colors.$darker-blue;
  text-decoration: none;

  &:active {
    color: colors.$red;
  }
}

button.back {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.5rem;
  height: 2.5rem;

  color: colors.$darker-blue;

  background-color: colors.$white;
  border: 0;
}

.hidden {
  display: none !important;
}

.photo-preview {
  width: 8rem;
  height: 8rem;

  border-radius: 50%;
  object-fit: cover;

  cursor: pointer;
}
