@use '@/styles/colors';
@use '@/styles/typography';

.toolbar {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  // width: 3.5rem; /* 56px */
  height: 100%;
  padding: 1rem 0.5rem;

  background-color: colors.$white;

  &__button {
    display: flex;
    padding: 0.5rem;

    color: colors.$darker-blue;
    background-color: colors.$white;

    border: 0;
    border-radius: 0.5rem;

    cursor: pointer;
  }

  &__separator {
    width: 1rem;
    margin: 1rem 0;

    border-bottom: 1px solid colors.$light-blue;
  }
}
