<template>
  <div class="toolbar">
    <button
      type="button"
      class="toolbar__button"
      :disabled="disabled"
      @click="router.go(-1)"
    >
      <vue-feather type="arrow-left" />
    </button>

    <hr class="toolbar__separator" />

    <div class="toolbar__top">
      <button
        v-for="item in items"
        :key="item.id"
        type="button"
        class="toolbar__button mb-4"
        :disabled="disabled || item.disabled"
        @click="onToolClick(item.id)"
      >
        <vue-feather :type="item.icon" />
      </button>
    </div>

    <hr class="toolbar__separator mt-auto" />

    <div class="toolbar__bottom">
      <button
        type="button"
        class="toolbar__button mb-4"
        :disabled="disabled"
        @click="onSettingsClick"
      >
        <vue-feather type="settings" />
      </button>
      <button
        type="button"
        class="toolbar__button"
        :disabled="disabled"
        @click="onOverviewClick"
      >
        <vue-feather type="map" />
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import type { PropType, SetupContext } from 'vue';
import VueFeather from 'vue-feather';
import { useRoute, useRouter } from 'vue-router';

import type { ToolbarItem } from './types';

export default {
  components: { VueFeather },
  props: {
    items: {
      type: Array as PropType<Array<ToolbarItem>>,
      required: true,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  setup(_, ctx: SetupContext<Record<string, any>>) {
    const router = useRouter();
    const route = useRoute();

    function onToolClick(id: string) {
      ctx.emit('tool-click', id);
    }

    function onSettingsClick() {
      const id = route.params.id;
      if (id) {
        router.push(`/app/edit-plan/${id}`);
      }
    }

    return { router, onToolClick, onSettingsClick };
  },
};
</script>

<style lang="scss" scoped>
@use './styles';
</style>
