<template>
  <transition name="pop-up">
    <slot></slot>
  </transition>
</template>

<style lang="scss">
.pop-up-enter-active,
.pop-up-leave-active {
  position: relative;
  transition: all 0.2s ease-in-out;
}

.pop-up-enter-from,
.pop-up-leave-to {
  transform: translateY(10px);
  opacity: 0;
}

.pop-up-enter-to,
.pop-up-leave-from {
  transform: translateY(0);
  opacity: 1;
}
</style>
