<template>
  <transition name="slide" mode="out-in">
    <slot></slot>
  </transition>
</template>

<style lang="scss">
.slide-enter-active,
.slide-leave-active {
  position: relative;
  transition: all 0.1s ease-in-out;
}

.slide-leave-from {
  left: 0;
}

.slide-leave-to {
  left: -10%;
  opacity: 0;
}

.slide-enter-from {
  right: -10%;
  opacity: 0;
}

.slide-enter-to {
  right: 0;
  opacity: 1;
}
</style>
