@use '@/styles/colors';

.card {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;

  background-color: colors.$white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  transition: transform 0.2s ease-in-out;
  transform: translateY(100%);

  &--opened {
    transform: translateY(0);
  }

  &__content {
    padding: 1rem;
  }
}
