<template>
  <div class="card" :class="opened && 'card--opened'">
    <t-header>
      <template #button>
        <button type="button" class="back" @click="close">
          <vue-feather type="x" />
        </button>
      </template>

      <slot name="title">
        {{ title }}
      </slot>
    </t-header>

    <div class="card__content">
      <slot></slot>
    </div>
  </div>
</template>

<script lang="ts">
import type { SetupContext } from 'vue';

import VueFeather from 'vue-feather';
import THeader from '@/components/Header';

interface CardProps {
  opened: boolean;
  title: string;
}

export default {
  components: { THeader, VueFeather },
  props: {
    opened: {
      type: Boolean,
      default: false,
    },
    title: {
      type: String,
      default: '',
    },
  },
  setup(props: CardProps, ctx: SetupContext<Record<string, any>>) {
    function close() {
      ctx.emit('close');
    }

    return { close };
  },
};
</script>

<style scoped lang="scss">
@use './styles';
</style>
