@use '@/styles/colors';
@use '@/styles/typography';

.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 0.5rem 1rem 0.5rem 0.5rem;

  &__text {
    @include typography.text;
  }
}
