<template>
  <header class="header">
    <slot name="button"></slot>
    <span class="header__text">
      <slot></slot>
    </span>
  </header>
</template>

<script lang="ts"></script>

<style lang="scss" scoped>
@use './styles';
</style>
