<template>
  <div class="form-input">
    <label class="label" :for="label">{{ label }}</label>
    <slot name="input">
      <select v-if="type === 'select'" class="input">
        <option v-for="option in options" :key="option.value">
          {{ option.label }}
        </option>
      </select>

      <input
        v-else
        class="input"
        :type="type"
        :name="name"
        :id="label"
        :placeholder="placeholder"
        :value="modelValue"
        @input="updateValue"
      />
    </slot>
  </div>
</template>

<script lang="ts">
import type { SetupContext, PropType } from 'vue';

interface Option {
  value: string;
  label: string;
}

export default {
  props: {
    label: {
      type: String,
      required: true,
    },
    type: {
      type: String,
      default: 'text',
    },
    name: {
      type: String,
      default: '',
    },
    placeholder: {
      type: String,
      default: '',
    },
    modelValue: {
      type: String,
      default: '',
    },
    options: {
      type: Array as PropType<Array<Option>>,
      default: null,
    },
  },
  setup(_, ctx: SetupContext<Record<string, any>>) {
    function updateValue(event: InputEvent) {
      ctx.emit('update:modelValue', (event.target as HTMLInputElement)?.value);
    }

    return { updateValue };
  },
};
</script>

<style lang="scss">
@use './styles';
</style>
