@use '@/styles/colors';
@use '@/styles/typography';

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.label {
  margin-bottom: 0.5rem;

  @include typography.label;
}

.input {
  width: 100%;
  height: 2.75rem; /* 44px */
  padding: 0.75rem 1rem;

  border: 1px solid colors.$light-blue;
  border-radius: 0.25rem;
  outline: 3px solid transparent;

  transition: all 0.2s ease-in-out;

  @include typography.text;

  &:focus {
    outline-color: colors.$lighter-blue;
  }
}
