@use '@/styles/colors';
@use '@/styles/typography';

.footer {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 1rem;
  flex-shrink: 0;

  padding: 0.5rem 1rem;

  background-color: colors.$dark-blue;

  &__icon {
    padding: 0.25rem;

    color: colors.$cyan;
  }

  &__button {
    min-width: 5rem; /* 80px */
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
    color: colors.$cyan;

    background-color: colors.$dark-blue;
    border: 0;
    border-radius: 0.5rem;

    transition: all 0.1s ease-in-out;
    cursor: pointer;

    &--active {
      background-color: colors.$darker-blue;
    }
  }
}
