<template>
  <footer class="footer">
    <router-link
      v-for="item in items"
      :key="item.label"
      :to="item.path"
      custom
      v-slot="{ navigate }"
    >
      <button
        type="button"
        class="footer__button"
        :class="{ ['footer__button--active']: item.label === route.name }"
        @click="navigate"
      >
        <vue-feather :type="item.icon" :size="18" class="footer__icon"></vue-feather>
        {{ item.label }}
      </button>
    </router-link>
  </footer>
</template>

<script lang="ts">
import type { PropType } from 'vue';
import VueFeather from 'vue-feather';
import { useRoute } from 'vue-router';

interface FooterItem {
  label: string;
  icon: string;
  path: string;
}

export default {
  components: { VueFeather },
  props: {
    items: {
      type: Array as PropType<Array<FooterItem>>,
      required: true,
    },
  },
  setup() {
    const route = useRoute();

    return { route };
  },
};
</script>

<style lang="scss" scoped>
@use './styles';
</style>
