<template>
  <div class="segmented-button">
    <button
      v-for="item in items"
      :key="item.value"
      type="button"
      class="segmented-button__section"
      :class="
        modelValue === item.value && 'segmented-button__section--selected'
      "
      @click="onClick(item)"
    >
      {{ item.label }}
    </button>
  </div>
</template>

<script lang="ts">
import type { PropType, SetupContext } from 'vue';
import { RouterLink } from 'vue-router';

interface SegmentedButtonItem {
  value: string;
  label: string;
}

export default {
  component: { RouterLink },
  props: {
    items: {
      type: Array as PropType<Array<SegmentedButtonItem>>,
      required: true,
    },
    modelValue: {
      type: String,
      default: '',
    },
  },
  setup(_, ctx: SetupContext<Record<string, any>>) {
    function onClick(value: SegmentedButtonItem) {
      ctx.emit('update:modelValue', value.value);
    }

    return { onClick };
  },
};
</script>

<style scoped lang="scss">
@use './styles';
</style>
