@use '@/styles/colors';
@use '@/styles/typography';

.segmented-button {
  display: flex;

  border: 1px solid colors.$dark-blue;
  border-radius: 0.25rem;
  
  overflow: hidden;

  &__section {
    padding: 0.5rem 0.75rem;
    background-color: colors.$white;

    border: 0;
    cursor: pointer;

    @include typography.label;

    &--selected {
      color: colors.$cyan;
      background-color: colors.$dark-blue;
    }
  }
}
