<template>
  <div class="root">
    <div class="icon">T</div>
    <h1>Travel Planner</h1>
    <router-link to="/auth/login" custom v-slot="{ navigate }">
      <t-button variant="primary" @click="navigate">LOGIN</t-button>
    </router-link>
    <div class="version">{{ versionString }}</div>
  </div>
</template>

<script lang="ts">
import { RouterLink } from 'vue-router';

import TButton from '@/components/Button';

import packageJson from '@/../package.json';

export default {
  components: { TButton, RouterLink },
  setup() {
    const versionString = `Version ${packageJson.version}`;

    return { versionString };
  },
};
</script>

<style lang="scss" scoped>
@use '@/styles/colors';
@use '@/styles/typography';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;

  padding: 7rem 0; /* 112px */
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 7rem;
  height: 7rem;

  background-color: colors.$red;

  font-size: 4rem;
  font-weight: 700;
  color: colors.$white;

  border-radius: 1rem;
}

.button {
  margin-top: auto;
}

.version {
  position: absolute;
  bottom: 1rem;
  left: 1rem;

  @include typography.label;
}
</style>
