<template>
  <router-view />
</template>

<script lang="ts">
import { RouterView } from 'vue-router';

export default {
  components: { RouterView },
};
</script>

<style lang="scss">
@use '@/styles/main';

@import url('./util/normalize.css');

#app {
  height: 100vh;
}
</style>
