@use '@/styles/colors';

.map {
  position: relative;
  width: 100%;
  height: 100%;

  background-color: colors.$light-blue;

  &__placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: text-loading 2s infinite;
  }
}

@keyframes text-loading {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
