<template>
  <div id="map" class="map">
    <span class="map__placeholder">Loading map...</span>
  </div>

  <slot></slot>
</template>

<script lang="ts">
import { ref, onMounted } from 'vue';
import Map from 'ol/Map';
import View from 'ol/View';
import { fromLonLat } from 'ol/proj';
import TileLayer from 'ol/layer/Tile';
import XYZ from 'ol/source/XYZ';
import type MapBrowserEvent from 'ol/MapBrowserEvent';

export default {
  setup() {
    const map = ref<Map>();

    const tileLayer = new TileLayer({
      properties: {
        title: 'heeyooo',
      },
      source: new XYZ({
        url: 'https://{a-c}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      }),
    });

    onMounted(() => {
      map.value = new Map({
        target: 'map',
        layers: [tileLayer],
        view: new View({
          center: fromLonLat([37.41, 8.82]),
          zoom: 4,
        }),
      });

      map.value.on('singleclick', onMapClick);
    });

    function onMapClick(ev: MapBrowserEvent<any>) {
      const layerData = tileLayer.getData(ev.pixel);
      console.log(layerData);
    }

    return {};
  },
};
</script>

<style lang="scss" scoped>
@use './styles';
</style>
