<template>
  <div class="root">
    <t-header>
      <template #button>
        <router-link to="/" custom v-slot="{ navigate }">
          <button type="button" class="back" @click="navigate">
            {{ '<-' }}
          </button>
        </router-link>
      </template>
      {{ route.name }}
    </t-header>

    <main>
      <router-view v-slot="{ Component, route }">
        <slide-transition>
          <component :is="Component" :key="route.path" />
        </slide-transition>
      </router-view>
    </main>
  </div>
</template>

<script lang="ts">
import { RouterView, useRoute } from 'vue-router';

import THeader from '@/components/Header';
import { SlideTransition } from '@/components/Transitions';

export default {
  components: { THeader, RouterView, SlideTransition },
  setup() {
    const route = useRoute();

    return { route };
  },
};
</script>

<style scoped>
main {
  padding: 1rem;
}
</style>
