<template>
  <form class="form" @submit="onSubmit">
    <form-input label="Email" name="email" placeholder="Email address" />
    <form-input
      label="Password"
      type="password"
      name="password"
      placeholder="Password"
    />
    <div class="buttons">
      <router-link to="/auth/signup" custom v-slot="{ navigate }">
        <t-button type="button" variant="secondary" class="mr-4" @click="navigate">
          Sign up
        </t-button>
      </router-link>
      <t-button type="submit" variant="primary">Log in</t-button>
    </div>
  </form>
</template>

<script lang="ts">
import FormInput from '@/components/FormInput';
import TButton from '@/components/Button';

export default {
  components: { FormInput, TButton },
  setup() {
    function onSubmit(ev: Event) {
      ev.preventDefault();
      console.log('submit', ev);
    }

    return { onSubmit };
  },
};
</script>

<style scoped>
.form {
  padding-top: 0.5rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}
</style>
