<template>
  <form class="form" @submit="onSubmit">
    <form-input label="Email" name="email" placeholder="Email address" />
    <form-input
      label="Password"
      type="password"
      name="password"
      placeholder="Password"
    />

    <div class="name-wrapper">
      <form-input label="Full name" name="firstName" placeholder="First name" />
      <form-input label="" name="lastName" placeholder="Last name" />
    </div>

    <div class="photo-wrapper">
      <label class="label mb-2" for="Photo">Photo</label>
      <input
        ref="fileInput"
        type="file"
        class="hidden"
        name="photo"
        id="Photo"
        accept="image/*"
        @change="onFileChange"
      />
      <img
        class="photo-preview"
        :src="imageSrc"
        alt="Photo"
        tabindex="0"
        @click="onPhotoClick"
      />
    </div>

    <div class="buttons">
      <t-button type="submit" variant="primary">Sign up</t-button>
    </div>
  </form>
</template>

<script lang="ts">
import { ref } from 'vue';
import FormInput from '@/components/FormInput';
import TButton from '@/components/Button';

import PLACEHOLDER from '@/assets/photo_placeholder.svg';

export default {
  components: { FormInput, TButton },
  setup() {
    const fileInput = ref<HTMLInputElement>();
    const imageSrc = ref<string>(PLACEHOLDER);

    function onFileChange(ev: Event) {
      console.log('file change', ev);

      const [file] = Array.from(fileInput.value?.files as FileList);
      if (file) {
        imageSrc.value = URL.createObjectURL(file);
      }
    }

    function onPhotoClick() {
      fileInput.value?.click();
    }

    function onSubmit(ev: Event) {
      ev.preventDefault();
      console.log('submit', ev);
    }

    return { imageSrc, fileInput, onFileChange, onPhotoClick, onSubmit };
  },
};
</script>

<style lang="scss" scoped>
@use '@/styles/typography';

.form {
  padding-top: 0.5rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.name-wrapper {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.label {
  @include typography.label;
}

.photo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
</style>
