<template>
  <t-map>
    <t-toolbar
      :items="items"
      :disabled="cardState.opened"
      @tool-click="onToolClick"
    ></t-toolbar>

    <div class="search">
      <input class="input" type="search" placeholder="Search..." :value="id" />
    </div>

    <t-card v-bind="cardState" @close="cardState.opened = false">
      <template #title> {{ cardState.title }} </template>
      <component
        v-if="cardContent"
        :is="cardContent"
        v-bind="cardContentConfig"
        @change-title="cardState.title = $event"
      />
    </t-card>
  </t-map>
</template>

<script lang="ts">
import {
  reactive,
  computed,
  onMounted,
  onUnmounted,
  shallowRef,
  ref,
} from 'vue';

import VueFeather from 'vue-feather';
import TCard from '@/components/Card';
import TMap from '@/components/Map';
import TToolbar from '@/components/Toolbar';
import type { ToolbarItem } from '@/components/Toolbar';
import { useRoute } from 'vue-router';
import { StartEndPoint, Stay } from './ToolViews';

interface PlannerItem extends ToolbarItem {
  title: string;
}

interface CardState {
  opened: boolean;
  title: string;
}

const COMPONENT_MAP: Record<string, any> = {
  startPoint: [StartEndPoint, { type: 'start' }],
  endPoint: [StartEndPoint, { type: 'end' }],
  stays: [Stay, {}],
};

export default {
  components: { TMap, TToolbar, VueFeather, TCard },
  setup() {
    const route = useRoute();
    const id = route.params.id;

    const cardContent = shallowRef();
    const cardContentConfig = ref({});

    const cardState = reactive<CardState>({
      opened: false,
      title: '',
    });

    const items = computed<Array<PlannerItem>>(() => [
      {
        id: 'startPoint',
        label: 'Start point',
        title: 'Start point',
        icon: 'map-pin',
      },
      {
        id: 'endPoint',
        label: 'End point',
        title: 'End point',
        icon: 'map-pin',
      },
      {
        id: 'stays',
        label: 'Stays',
        title: 'Add stay',
        icon: 'home',
      },
      {
        id: 'activities',
        label: 'Activities',
        title: 'Add activity',
        icon: 'sun',
      },
      {
        id: 'connections',
        label: 'Connections',
        title: 'Add connection',
        icon: 'share-2',
      },
    ]);

    function onToolClick(id: string) {
      cardState.opened = true;
      cardState.title = items.value.find((item) => item.id === id)?.title || '';

      const [content, config] = COMPONENT_MAP[id];
      cardContent.value = content;
      cardContentConfig.value = config;
    }

    function onKeyDown(ev: KeyboardEvent) {
      if (ev.key === 'Escape') cardState.opened = false;
    }

    onMounted(() => window.addEventListener('keydown', onKeyDown));
    onUnmounted(() => window.removeEventListener('keydown', onKeyDown));

    return {
      id,
      items,
      cardState,
      cardContent,
      cardContentConfig,
      onToolClick,
    };
  },
};
</script>

<style lang="scss" scoped>
@use '@/styles/colors';

.map {
  height: 100%;

  background-color: #ddd;
}

.search {
  position: absolute;
  left: 4.5rem;
  top: 1rem;
  right: 1rem;
}
</style>
