<template>
  <div class="root">
    <t-header>
      <template #button>
        <button type="button" class="back" @click="router.go(-1)">
          <vue-feather type="arrow-left" />
        </button>
      </template>
      {{ route.name }}
    </t-header>

    <main>
      <form class="form" @submit="onSubmit">
        <form-input label="Name" name="name" placeholder="Plan name" />

        <div class="date-wrapper">
          <form-input
            type="date"
            label="Start & End dates"
            name="startDate"
            placeholder="Start date"
          />
          <form-input
            type="date"
            label=""
            name="endDate"
            placeholder="End date"
          />
        </div>

        <div class="buttons">
          <t-button type="submit" variant="primary">
            {{ buttonText }}
          </t-button>
        </div>
      </form>
    </main>
  </div>
</template>

<script lang="ts">
import { useRoute, useRouter } from 'vue-router';

import VueFeather from 'vue-feather';
import THeader from '@/components/Header';
import FormInput from '@/components/FormInput';
import TButton from '@/components/Button';

export default {
  components: { THeader, FormInput, TButton, VueFeather },
  setup() {
    const route = useRoute();
    const router = useRouter();

    const buttonText = route.params.id ? 'Save plan' : 'Start planning';

    function onSubmit(ev: Event) {
      ev.preventDefault();
      console.log('submit', ev);
    }

    return { route, router, buttonText, onSubmit };
  },
};
</script>

<style lang="scss" scoped>
@use '@/styles/typography';

main {
  padding: 1rem;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.date-wrapper {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.label {
  @include typography.label;
}
</style>
